{% extends "account/base.html" %}

{% load i18n %}

{% load crispy_forms_tags %}

{% block head_title %}
    پردازش تصویر
{% endblock head_title %}

{% block inner %}
    <div class="row justify-content-md-center">
        <h1 class="text-center">پردازش تصویر</h1>
    </div>
    <div class="row justify-content-md-center mt-3">
        {% if form.image.value %}
            <div class="col-md-auto">
                <div class="row justify-content-md-center mt-3">
                    <div class="col-md-auto">
                        <h3 class="lead text-center">
                            نتیجه پردازش تصویر بارگذاری شده توسط کتابخانه تشخیص آتش به صورت زیر می‌باشد:
                        </h3>
                    </div>
                </div>
                <div class="row justify-content-md-center mt-3">
                    <div class="col-md-auto text-center">
                        <img src="data:image/png;base64,{{ form.image.value }}" id="processed-image" class="rounded" style="max-width: 50%; height: auto;" alt="processed-image">
                    </div>
                </div>
                <div class="row justify-content-md-center mt-3">
                    <div class="col-md-auto">
                        <p class="lead text-center">
                            آیا مایل به ذخیره‌سازی تصویر پردازش شده هستید؟
                        </p>
                    </div>
                </div>
                <div class="row justify-content-md-center mt-3">
                    <div class="col-md-auto">
                        <form method="post">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="mb-3">
                                <button class="btn btn-primary w-100" type="submit">بله</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-auto">
                        <a class="btn btn-primary" href="{% url "users:detail" user.username %}" role="button">خیر، بازگشت به ناحیه کاربری</a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-md-auto">
                <div class="row justify-content-md-center mt-3">
                    <div class="col-md-auto">
                        <h3 class="lead text-center">
                            متأسفانه پردازش تصویر بارگذاری شده با مشکل روبرو شد، لطفاً این مورد را از طریق پشتیبانی پیگیری نمائید.
                        </h3>
                    </div>
                </div>
                <div class="row justify-content-md-center mt-3">
                    <div class="col-md-auto">
                        <a class="btn btn-primary" href="{% url "users:detail" user.username %}" role="button">بازگشت به ناحیه کاربری</a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock inner %}
