{% extends "account/base.html" %}

{% load i18n %}

{% load crispy_forms_tags %}

{% block head_title %}
  ورود به حساب کاربری
{% endblock head_title %}

{% block inner %}
  <div class="row justify-content-md-center">
    <h1 class="text-center">ورود به سایت</h1>
  </div>
  <div class="row justify-content-md-center mt-3">
    <div class="col-md-auto">
      <form class="login" method="post" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
          <input type="hidden"
                name="{{ redirect_field_name }}"
                value="{{ redirect_field_value }}"/>
        {% endif %}
        <div class="mb-3">
          <a class="button secondaryAction"
          href="{% url 'account_reset_password' %}">فراموشی گذرواژه</a>
        </div>
        <div class="mb-3">
          <button class="primaryAction btn btn-primary w-100" type="submit">{% translate "Sign In" %}</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row justify-content-md-center mt-3">
    {% if ACCOUNT_ALLOW_REGISTRATION %}
      <p class="lead text-center">
        حساب کاربری ندارید؟ 
        <a href="{{ signup_url }}">ثبت نام</a> کنید.
      </p>
    {% endif %}
  </div>
{% endblock inner %}
