{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}
  تأیید نشانی رایانامه
{% endblock head_title %}

{% block inner %}
  <div class="row justify-content-md-center">
    <h1 class="text-center">نشانی رایانامه خود را تأیید کنید</h1>
  </div>
  <div class="row justify-content-md-center mt-3">
    <p class="lead text-center">
      یک پیوست جهت تأیید نشانی رایانامه‌تان برای شما ارسال شده است، لطفاً جهت تکمیل ثبت نام خود پیوست را دنبال کنید. اگر طی چند دقیقه آینده پیوست را در صندوق خود ندیدید لطفاً با کارشناسان ما تماس برقرار کنید.
    </p>
  </div>
{% endblock inner %}
